.vs/
.vscode/
Intermediate/
Saved/
.vsconfig
GuardiansW.sln
GuardiansW.code-workspace
Platforms/HoloLens/Config/HoloLensEngine.ini
Plugins/Developer/RiderLink/
GuardiansW.sln.DotSettings.user
Binaries/Win64/GuardiansWEditor-Win64-DebugGame.target
Binaries/Win64/UnrealEditor-GuardiansW-Win64-DebugGame.dll
Binaries/Win64/UnrealEditor-GuardiansW-Win64-DebugGame.pdb
Binaries/Win64/UnrealEditor-Win64-DebugGame.modules
